Debug
Release
*.ncb
*.vcproj.*.user

*~


Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
depcomp
configure
install-sh
ltmain.sh
missing

Makefile
config.h
config.log
config.status
examples/.deps
examples/Makefile
libtool
src/.deps
src/Makefile
stamp-h1