Debug
Release
*.ncb
*.vcproj.*.user

*~

*.o
*.lo
*.la

Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
depcomp
configure
install-sh
ltmain.sh
missing

Makefile
config.h
config.log
config.status
examples/.deps
examples/.libs
examples/Makefile
examples/test_blend
examples/test_dash
examples/test_image
examples/test_interpolate
examples/test_linear
examples/test_pattern
examples/test_radial
examples/test_tiger
examples/test_vgu
libtool
src/.deps
src/.libs
src/Makefile
stamp-h1